body {
  margin: 20px;
}
.chat {
  background-color: rgb(167, 208, 244);
  padding: 20px;
  border-radius: 16px;
  display: inline-block;
  margin: 5px;
}

.msg {
  background-color: rgb(85, 149, 239);
  padding: 10px;
  border-radius: 10px;
}
