

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}

 .navbar {
  height: 5rem;
  background-color: #f8f9fa;
}
.fa-compass-drafting {
  color: #f91717;
  font-size: 1.5rem;
}
.nav-link {
  color: #000 !important;
  font-weight: bold !important;
}
.f-info-links a {
  text-decoration: none;
  color: #000;
}
.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,  .f-info-socials , .f-info-brand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background-color: #d5d8db;
  flex-wrap: wrap;
  justify-content: center;
  align-items:  center;
  /* gap: 1rem; */
}
/* cards */
.card {
  border: none !important;
  margin-bottom: 2rem ;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100%;
  object-fit: cover !important;
}
.card-body {
  padding: 0% !important;
}
.card-text {
  font-weight: 400 !important;
}
.listing-link{
  text-decoration: none;
}

/* card effect */
.card-img-overlay:hover {
 opacity: 0.2;
 background-color: white;
}
.add-btn{
  background-color:  #f52222 !important;
  border: none !important;
}
.edit-btn{
  background-color:  #f52222 !important;
  border: none !important;
}
.show-img {
  height: 20rem;
}

.btns{
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}