<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Username</title>
</head>
<body>
<form method="post" action="/user/<%= user.id %>?_method=PATCH">
  <h2>You are about to edit your username: <%= user.email %></h2>
  
  <textarea name="name"><%= user.name %></textarea>
  
  <input type="password" name="password" placeholder="Enter your password" />
  
  <button>Edit</button>
</form>

</body>
</html>